//----------------------------------------------
html {
  height: 100%
}

//----------------------------------------------
body {
  font-family: 'Carrois Gothic', sans-serif !important;
  min-height: 100%;
  position: relative;
}


//-------------------------------------------
.doodle-logo {
  margin-top: 10vh;
  margin-bottom: 30px;
}

.navbar {
  box-shadow: none !important;

  .nav-item {
    &.avatar {
      .dropdown-toggle {
        img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}

.bg-happy {
  background-image: url("../img/common/bg-happy.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.bg-gradient-magenta {
  background: linear-gradient(60deg, #d32323, #7b1fa2);
}

.bg-vivid-yellow {
  background-color: #ffc107 !important;
}

a {
  &.underline {
    text-decoration: underline !important;

    &:hover {
      text-decoration: none !important;
    }
  }
}

//-------------------------------------------
.list-inline {
  text-align: center;

  > li {
    display: inline-block;

    > a {
      padding: 5px 15px;
    }
  }
}

.nav-extend {
  padding: 10px;
  background-color: #F44336;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  margin-bottom: 50px;
}

.list-extent {
  margin-bottom: 0;

  > li {
    display: inline-block;

    > a {
      padding: 5px 15px;
      color: #fff;
      transition: all 250ms;

      &:hover {
        opacity: .7;
      }
    }
  }
}

.card-header-stretch-height {
  flex: 1;
  writing-mode: vertical-rl;
  text-align: center;
  line-height: 0;
}

//-------------------------------------------
.sidenav {
  .modal-side {
    text-align: center;
    padding-left: 48px;
    height: 200px !important;
    width: 100%;

    .author-box {
      padding: 20px;
      text-align: left;
    }
  }

  &.modal-full-height {
    max-width: 280px;
  }

  .modal-dialog {
    margin: 0;
    height: 100%;
  }

  .modal-body {
    background-color: #fff;
  }

  .modal-content {
    font-size: 20px;
    height: 100%;

    ul {
      > li {
        margin: 10px 0;
        width: 100%;
      }
    }

    i {
      width: 20px;
    }
  }
}

.collapse-side-nav {
  > ul {
    > li {
      padding-left: 20px;

      &.active {
        border-left: 5px solid #0e2358;
        padding-left: 15px;
      }
    }
  }
}

.collapse-arrow-down {
  .fa-chevron-up {
    transition: all ease 200ms;
  }

  &[aria-expanded="true"] {
    .fa-chevron-up {
      transform: rotate(180deg);
    }
  }
}

.dropdown-menu {
  &[aria-labelledby="user-avatar"] {
    a {
      padding: 10px !important;
    }
  }
}

//-------------------------------------------
.form-sign-in,
.form-sign-up {
  margin-top: 50px;
  margin-bottom: 100px
}

//-------------------------------------------
form {
  strong {
    font-weight: bold;
  }
}

//-------------------------------------------
.max-width-500 {
  max-width: 500px;
}

.max-width-1000 {
  max-width: 1000px;
}

//-------------------------------------------
.width-50 {
  width: 50px;
}

//----------------------------------------------
.height-25 {
  height: 25px !important;
}

//-------------------------------------------
.title-red {
  font-size: 25px;
  color: #b51d32;
}

.text-red {
  color: #b51d32 !important;
}

.text-light-red {
  color: #F35569 !important;
}

.title-strong-blue {
    color: #006ba6;
    font-weight: bold;
    font-size: 28px;
    margin: 18px 0 25px;
}

.title-strong-pink {
    color: #d81159;
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0 16px;
}

.text-dark-yellow {
    color: #ffbc42 !important;
}

.hover-link {
    &:hover {
        opacity: .7;
        color: #8f2d56;
    }
}

.inline-block {
    display: inline-block !important;
}

.height-auto {
  height: auto !important;
}

//-------------------------------------------
.btn-facebook {
  background-color: #3b5998;

  .fa {
    margin-right: 10px;
  }
}

.btn-strong-orange {
  background-color: #ff7043;
}

.btn-yahoo {
  background-color: #190046;
}

.section-auto-complete {
  position: absolute;
  visibility: hidden;
  width: 100%;
  z-index: 10;

  .list-group-item {
    padding: 5px;
    display: block;
    transition: ease-in 250ms;

    &:hover {
      background-color: #0166B4;
      color: #fff;
    }

    img {
      width: 40px;
      height: 40px;
    }

    .media {
      padding: 0;
      margin-bottom: 0;
      align-items: center;

      .media-left {
        padding-bottom: 0;
      }
    }
  }
}

.atc-input {
  &:focus:not([readonly]) {
    & ~ div {
      visibility: visible;
    }
  }
}

.card-shop {
  .list-cate {
    > li {
      > a {
        padding: 5px;
      }
    }
  }
}

//-------------------------------------------

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: initial;
}

.mt-20-lg {
  @media (max-width: 991px) {
    margin-top: 20px !important;
  }
}

$i: 0;
@while $i <= 100 {
  .mt#{$i} { margin-top: #{$i}px !important; }

  $i: $i + 1;
}

$i: 0;
@while $i <= 100 {
  .mr#{$i} { margin-right: #{$i}px !important; }

  $i: $i + 1;
}

$i: 0;
@while $i <= 100 {
  .mb#{$i} { margin-bottom: #{$i}px !important; }

  $i: $i + 1;
}

$i: 0;
@while $i <= 100 {
  .ml#{$i} { margin-left: #{$i}px !important; }

  $i: $i + 1;
}

.mb-20-lg {
  @media (max-width: 991px) {
    margin-bottom: 20px !important;
  }
}

.mb-30-lg {
  @media (max-width: 991px) {
    margin-bottom: 30px !important;
  }
}

.mb-15rem {
  margin-bottom: 1.5rem !important;
}


.pt0 {
  padding-top: 0px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.pb125 {
  padding-bottom: 125px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.card-block-5rem {
  padding: 0.5rem;
}

.max-width-320 {
  max-width: 320px !important;
}

.text-center-xl-max {
  @media (max-width: 1199px) {
    text-align: center!important;
  }
}

.hidden-767 {
  @media (max-width: 767px) {
    display: none;
  }
}

.row-5 {
  $grid-gutter-width: 5px;

  margin-left: -$grid-gutter-width;
  margin-right: -$grid-gutter-width;

  > div {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
}

.fs12 {
  font-size: 12px !important;
}

.fs14 {
  font-size: 14px !important;
}

.fs16 {
  font-size: 16px !important;
}

.fs20 {
  font-size: 20px !important;
}

.fs24 {
  font-size: 24px !important;
}

.lh-17 {
  line-height: 1.7 !important;
}

.width-30 {
  width: 30px;
}

.width-45 {
  width: 45px;
}

.sign-in-text {
  font-size: 24px;
  color: #b51d32;
}

#sign-in-box,
#sign-up-box {
  background-color: #fff;
}

#flipper-card {
  padding-bottom: 60px;
}

.title-border-red {
  background: -webkit-linear-gradient(#F44336, #C92203);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 30px;
  border-bottom: 2px solid #333;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.sidebar-orange {
  margin-top: 50px;
  width: 255px;

  @media (min-width: 992px) and (max-width: 1199px) {
    width: 210px !important;
  }

  @media (max-width: 991px) {
    //width: auto !important;
    display: none;
    //position: static !important;
  }

  .active {
    background-color: #f15c4f;
    border: #f15c4f;
  }
}

.nav-tab-orange {
    border-radius: 2px;

  @media (max-width: 991px) {
    display: none;
  }

    ul {
        &[role="tablist"] {
            margin-bottom: 0;
        }
    }
     .nav-item {
        .nav-link {
            padding: 12px 8px;
            color: #0275d8;

            &.active {
                color: #fff;
            }
        }

         &:first-child {
             .nav-link {
                 border-top-left-radius: 2px;
                 border-top-right-radius: 2px;
             }
         }

         &:last-child {
             .nav-link {
                 border-bottom-left-radius: 2px;
                 border-bottom-right-radius: 2px;
             }
         }
    }
}

.card-about {
  margin-top: 50px;
  padding-bottom: 80px;
}

.view {
  overflow: hidden;
  position: relative;
  cursor: default;

}

.highlight-review {
  .excerpt {
    .added-text {
      max-width: none !important;
    }
  }
}

.btn-booking {
  padding: 15px !important;
  margin-bottom: 0;
}

.btn-more {
  .less {
    display: none;
  }
  &[aria-expanded="true"] {
    .less {
      display: inline;
    }

    .more {
      display: none;
    }
  }
}

.card-header-time {
  padding: 5px 15px;
}

.card-time {
  padding: 15px 5px;

  @media (max-width: 992px) {
    max-width: 255px;
    margin: auto;
  }

  .table {
    margin-bottom: 0;
    > tbody {
      > tr {
        > th,
        > td {
          padding: 0 5px;
          border: 0;
        }

        > th {
          font-weight: bold;
        }
      }
    }
  }
}

.card-hot-news {
  padding: 15px;
}

.card-footer-news {
  padding: 0 !important;

  p {
    margin-bottom: 0;
  }

  a {
    padding: 15px;
    &:hover {
      opacity: .8;
    }
  }
}

.list-store {
  margin-top: 50px;

  .item {
    padding: 0;
  }

  .card {
    .card-body {
      padding: .5rem 1rem !important;
    }

    .card-data {
      text-align: left;
      color: #333;
      background-color: #fff;

      .fa {
        display: inline;
        color: #F35569 !important;
      }
    }
  }

  .user-name {
    padding: 0 !important;
    margin-bottom: .3rem;

    a {
      font-size: 20px;
    }
  }
}

.stick-map-up {
  z-index: 999999;
  background-color: #fff;
  padding: 0 !important;
}

.stick-active {
  margin-top: 400px;

  @media (max-width: 767px) {
    margin-top: 540px;
  }
}

.section-filter {
  position: relative;

  @media (max-width: 991px) {
    display: none;
  }

  .sticky-filter-active {
    position: fixed;
    top: 300px;

    @media (max-width: 1200px) {
      width: 220px;
    }

    @media (min-width: 1200px) {
      width: 250px;
    }
  }
}

.section {
    &.team-section-highlight {
        .avatar {
            margin-bottom: 15px;

            .rounded-circle {
                max-width: 70px;
            }
        }
    }
}

.card-store-overview {
  .card-block {
    padding: 1.25rem;
  }

  .btn-action {
    @media (min-width: 768px) and (max-width: 991px) {
      margin-right: 90px;
    }
  }

  .card-title {
    @media (max-width: 991px) {
      margin-top: 30px;
    }
  }
}

.collection-card {
  .stripe-bottom-0 {
    text-align: left;
    bottom: 0;
  }
}

footer {
  width: 100%;
  z-index: 1;

  &.page-footer {
    padding-top: 16px;
    padding-bottom: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .list-inline {
    > li {
      > a {
        padding-top: 0;
        padding-bottom: 0;
        border-left: 1px solid #fff;
      }
      &:first-of-type {
        > a {
          border-left: 0;
        }
      }
    }
  }

  @media (max-width: 991px) {
    display: none;
  }
}

.zoom-recommend {
  p {
    margin-bottom: 0;

    a {
      color: #fff;

      &:hover {
        opacity: .7;
      }
    }
  }
}

.carousel-highlight {
  .testimonial {
    margin: 0;
  }

  .carousel-indicators {
    bottom: -15px;

    li {
      background-color: #ffaf4b;

      &.active {
        background-color: #804d0d;
      }
    }
  }

  .avatar {
    margin-bottom: 15px !important;

    img {
      max-width: 70px !important;
    }
  }
}

.tab-mobile {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;

  @media (min-width: 992px) {
    display: none;
  }
}

.b-info-overview-item {
  .card {
    width: 100%;
  }

  .card-header {
    cursor: pointer;
    transition: 100ms all ease;

    &:hover {
      opacity: .7;
    }
  }
}

.collapse {
  & ~ .r-more-btn {
    .less {
      display: none;
    }
  }

  &.show {
    & ~ .r-more-btn {
      .less {
        display: inline !important;
      }

      .more {
        display: none !important;
      }
    }
  }
}

.list-addon-services {
  margin-bottom: 10px;

  img {
    vertical-align: -4px;
  }
}

.comment-submit-section {
  min-height: 90px;

  @media (min-width: 992px) {
    width: 455px;
    float: right;
  }

  .review-btn-align {
    @media (min-width: 992px) {
      text-align: right;
    }
  }

  .rate-star {
    vertical-align: middle;
  }

  .rating-container {
    .caption {
      display: block;

      span {
        &:empty {
          visibility: hidden;
        }
      }
    }
  }
}

#caption-rate {
  font-size: 20px;
  font-weight: bold;
}

.post-comment {
  position: relative;

  ul {
    margin-bottom: 0;
  }

  .upload-feature {
    position: absolute;
    top: -40px;
    right: 0;

    img {
      box-shadow: none;
      border-radius: 0;
      border: 0;
    }

    a {
      padding: 0 5px;

      &:hover {
        img {
          opacity: .7;
        }
      }
    }
  }
}

.media-preview {
  > li {
    position: relative;
    width: 150px;

    a {
      position: absolute;
      top: 0;
      right: -5px;
      color: #fff;
      font-weight: bold;
    }
  }
}

.card-flip-biz {
  .front,
  .back {
    padding: 0;
    box-shadow: none;
    text-align: left;
  }

  input {
    padding: 0;
  }
}

.collapse-reply-comment {
  @media (min-width: 992px) {
    margin-left: 60px;
  }

  @media (max-width: 991px) {
    margin-bottom: 30px;
    border-top: 1px outset #ddd;
  }
}


.dl-list-indent {
  margin-bottom: 0;

  &,
  dd {
    overflow: hidden;
    zoom: 1;
  }

  dt,
  dd {
    display: table-cell;
    line-height: 1.4;
    vertical-align: top;
  }

  dt {
    padding-right: 5px;
    font-weight: normal;

    img {
      display: block;
    }
  }

  dd {
    width: 10000px;
  }

  &.cleared-xs {
    @media (max-width: 991px) {
      dt {
        display: block;
      }

      dd {
        padding-top: 0;
      }
    }
  }
}

#forthcoming-schedule {
  dl {
    dt {
      strong {
        font-weight: bold;

        &:after {
          content: ":";
        }
      }
    }
  }
}

.select-forthcoming {
  > .select-dropdown {
    margin-bottom: 9px !important;
  }
}

.form-forthcoming {
    .form-group {
        margin-right: 0;
    }
}

.ui-timepicker-standard {
  border: 0 !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.ui-timepicker {
  border: 0 !important;

  .ui-corner-all {
    text-align: left;
    color: #4285F4 !important;

    &.ui-state-hover {
      border: 0 !important;
    }
  }
}

.progress-stars {
  display: inline-block;
  width: 60%;
  margin-bottom: 0;

  @media (max-width: 1199px) {
    width: 100%;
  }

  &,
  .progress-bar {
    height: 28px;
  }

  .progress-bar {
    background-color: #FF715B;
  }
}

.review-progress {
  display: inline-block;
  vertical-align: 7px;
}

.star-yellow {
  font-size: 20px;

  &,
  &:hover {
    color: #ffc107;
  }

  &:hover {
    opacity: .7;
  }
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.promotion-tool-bar {
  padding-top: 10px;
  padding-bottom: 10px;

  a {
    font-size: 15px;
  }

  img {
    display: inline-block;
  }

  .label-promotion {
    &[disabled="disabled"] {
      font-size: 18px;
      color: #000;
      font-weight: bolder;
      border-bottom: 0;
    }
  }
}

.file-field .btn-floating {
  float: left;
}

.thumb-image {
  float: left;
  width: 100px;
  position: relative;
  padding: 5px;
}

#gallery-biz-info {
  > .item {
    margin-bottom: 15px;
    transition: 100ms ease;

    &:hover {
      cursor: pointer;
      opacity: .7;
      transform: scale(.9);
    }
  }
}

.card-body-gallery {
  height: 200px;
  overflow-y: scroll;
}


.words-left {
  display: inline-block;
  padding: 4px 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
}

.modal-biz-info {
  .modal-title {
    font-size: 26px;
    color: #fff;
  }

  .modal-body {
    font-size: 20px;
  }

  .btn-close {
    background: transparent;
    font-size: 16px;
    border: 0;

    &:hover {
      cursor: pointer;
      opacity: .7;
    }

    .fa {
      color: #fff !important;
    }
  }
}


//----------------------------------------------
.section-brochure {
  max-width: 580px;
  margin: auto;
  text-align: center;
  padding: 50px;
  box-shadow: inset 0 0 0 16px #fff, inset 0 0 0 17px #e6b741, inset 0 0 0 18px #fff, inset 0 0 0 19px #e6b741, inset 0 0 0 20px #fff, inset 0 0 0 21px #e6b741;

  .title-brochure {
    display: inline-block;
    margin: 0 0 20px 0;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: #323b4c;
    border-bottom: 4px double #323b4c;
    text-shadow: 1px 1px 0 #fff, 2px 2px 0 #E6B741;
    letter-spacing: 2px;
  }

  .dl-service-list {
    dt {
      font-weight: 500;
      text-transform: uppercase;
    }

    dd {
      font-size: 13px;
      padding: 4px 5px 5px;
      line-height: 15px;
      color: #333;
    }

    .price {
      display: block;
      margin-top: 15px;
      font-size: 20px;
      font-weight: bold; color:  #D5AD6D; /*if no support for background-clip*/
      background: -webkit-linear-gradient(transparent, transparent),
        -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
      background: -o-linear-gradient(transparent, transparent);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .group {
    & + .group {
      margin-top: 40px;
    }
  }
}

//----------------------------------------------
.file-footer-buttons {
  .btn {
    padding-top: 0;
    padding-bottom: 0;
    color: #ffaf4b !important;
    border: 2px solid #ffaf4b;

    &:hover,
    &:focus,
    &:active {
      background: #ffaf4b !important;
      color: #fff !important;
      border: 2px solid #ffaf4b;
    }
  }
}

.input-group-btn {
  .btn {
    margin: 0 !important;
  }
}

.file-caption-main {
  .file-caption {
    height: 42px;
    margin-top: 0;
  }
}

//----------------------------------------------
.file-preview {
  .fileinput-remove {
    top: 12px !important;
    right: 6px !important;
  }
}

//----------------------------------------------
#gift-card {
  select {
    &.browser-default {
      display: inline-block !important;
    }
  }
}

//----------------------------------------------
.checkbox-rounded [type="checkbox"][class*='filled-in']+label:after {
  border-radius: 50%;
}

//----------------------------------------------
.star-five {
  display: table;
  width: 150px;
  height: 150px;
  background: url(../img/icon/lemon-star-md.png) 50% 50% no-repeat;
  background-size: contain;
  color: #f15c4f;
  font-size: 30px;
  font-weight: bold;
  text-align: center;

  span {
    display: table-cell;
    vertical-align: middle;
  }
}

//----------------------------------------------
hr.hr-style-gradient {
  border: 0;
  height: 1px;
  display: block;
  width: 100%;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}


/* The Masonry Container */
.masonry {
  column-gap: 1.5em;
}

/* The Masonry Brick */
.item {
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 1;
  }
}
.item { /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}


.list-inline-category {
  > li {
    > a {
      font-size: 16px;
      font-weight: bold;
      color: #e03636;
    }
  }
}

.section-business-categories {
  padding-top: 40px;

  a {
    padding: 8px 15px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #333 !important;
    transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, left 0.3s ease, bottom 0.3s ease, box-shadow 0.3s ease;

    &:hover,
    &:focus {
      transform: translateY(-3px);
      box-shadow: 0 3px 18px 3px rgba(0, 0, 0, .08);
    }

    small {
      margin-top: 10px;
      font-weight: bold;
    }

    .fas {
      font-size: 60px;
      color: #ff7043;
    }
  }
}

#category-more {
  padding-top: 40px;
  border-top: 1px solid #999;

  ul {
    > li {
      > a {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

.container-list-page {
  max-width: 1500px !important;
}

#content{
  padding: 18px;
  margin-right: 315px;
}

#sidebar{
  float: right;
  width: 300px;
  color: #ffbdbd;
  will-change: min-height;
}

#sidebar .sidebar__inner{
  padding: 10px;
  position: relative;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}

.title-slogan {
  font-size: 18px !important;
  line-height: 1.3;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.arrow-down-bounce {
  font-size: 40px;
  color: #fa8182;
  text-align: center;
}

.md-form .prefix.active {
  color: #e03636;
}